<div>
  <h1>{{title}}</h1>
  <div class="row py-2">
    <div class="col-12">
      <div>
        <button type="submit" class="btn btn-warning form-list-two" (click)="isEditable = true" [disabled]="isEditable"><i class="fa fa-wrench"> Редактировать
          региональный эвент</i></button>
        <button type="submit" class="btn btn-success form-list-two" (click)="return()"><i class="fa fa-backward"> Вернуться к туру</i></button>
      </div>
      <div>
        <div class="form-list">
          <label>Отель</label>
          <input [(ngModel)]="region.name" class="form-control form-control-lg but-info" type="text" placeholder="Регион не выбран" readonly>
        </div>
        <div class="form-list pick-date">
          <label>Дата эвента</label>
          <div class="input-group date" data-provide="datepicker">
            <input type="date" class="form-control" required [(ngModel)]="event_date" [disabled]="!isEditable">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
        <div class="form-list">
          <label>Региональная услуга</label>
          <input [(ngModel)]="regEvent.service.name" class="form-control form-control-lg but-inp" type="text" placeholder="Выберите региональную услугу"
                 (click)="findRegionService()" readonly [disabled]="!isEditable">
        </div>
        <div class="form-list">
          <label>Цена</label>
          <input [(ngModel)]="regEvent.price" class="form-control form-control-lg" type="number" placeholder="Введите стоимость"
                 [disabled]="!isEditable">
        </div>
        <div class="form-list">
          <label>Кол-во человек</label>
          <input [(ngModel)]="regEvent.pax" class="form-control form-control-lg" type="number" placeholder="Введите количество участников"
                 [disabled]="!isEditable">
        </div>
        <div class="form-list">
          <label>Итоговая стоимость</label>
          <input [(ngModel)]="regEvent.total" class="form-control form-control-lg but-info" type="text" placeholder="Будет посчитано после сохранения"
                 readonly>
        </div>
      </div>
    </div>
    <div class="save-btn-div">
      <button type="submit" class="btn btn-primary save-btn" (click)="save()" [disabled]="!isEditable">Сохранить</button>
    </div>
  </div>
</div>


