<div>
  <h1>{{title}}</h1>
  <button type="submit" class="btn btn-warning" (click)="editEnabled=true" [disabled]="editEnabled">Редактировать данные</button>
  <button type="submit" class="btn btn-danger side-button" (click)="deleteConfirm()" [hidden]="country.id == null">Удалить страну</button>
  <div class="row py-2">
    <div class="col-12">
      <form (ngSubmit)="save()">
        <div class="form-group">
          <label>Название страны</label>
          <input [(ngModel)]="country.name" type="text" class="form-control" id="name" name="name" placeholder="Введите название страны"
                 [disabled]="!editEnabled">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!editEnabled">Сохранить изменения</button>
      </form>
    </div>
  </div>
</div>
