<div>
  <h1>{{title}}</h1>
  <button type="submit" class="btn btn-warning" (click)="editEnabled=true" [disabled]="editEnabled">Редактировать данные</button>
  <button type="submit" class="btn btn-danger side-button" (click)="deleteConfirm()" [hidden]="airline.id == null">Удалить авиакомпанию</button>
  <div class="row py-2">
    <div class="col-12">
      <form (ngSubmit)="save()">
        <div class="form-group">
          <label>Название авиакомпании</label>
          <input [(ngModel)]="airline.name" type="text" class="form-control" id="name" name="name" placeholder="Введите название авиакомпании"
                 [disabled]="!editEnabled">
        </div>
        <div class="form-group">
          <label>Описание авиакомпании</label>
          <textarea [(ngModel)]="airline.description" rows="10" class="form-control" id="description" name="description"
                    placeholder="Введите описание авиакомпании" [disabled]="!editEnabled"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!editEnabled">Сохранить изменения</button>
      </form>
    </div>
  </div>
</div>
