.side-button {
  margin-left: 60%;
}

h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.col-12 {
  margin-bottom: 10%;
}


.img-div {
  margin-top: 3%;
}

.img-cont {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-list-two {
  display: inline-block;
  margin-right: 1%;
}

.fl-long {
  width: 70%;
}

.fl-short {
  width: 9%;
}

.block-img {
  display: inline-block;
  margin-right: 1%;
  width: 48%;
}

.save {
  width: 100%;
}
