<div>
  <h1>{{title}}</h1>
  <button type="submit" class="btn btn-warning" (click)="enableEdit()" [disabled]="editEnabled">Редактировать данные</button>
  <button type="submit" class="btn btn-danger side-button" (click)="deleteConfirm()" [hidden]="regionServ.id == null || !isDeleteOn">Удалить региональную услугу</button>
  <div class="row py-2">
    <div class="col-12">

      <label>Страна</label>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required [(ngModel)]="countryId"
              (ngModelChange)="getRegionsWithDrop()"
              [disabled]="!editEnabled">
        <option selected value=0>Выберите страну...</option>
        <option *ngFor="let country_option of countryList" [value]="country_option.id">{{country_option.name}}</option>
      </select>

      <label>Регион</label>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required [(ngModel)]="regionServ.regionId"
              [disabled]="countryId == 0 || !editEnabled">
        <option selected value=0>Выберите регион...</option>
        <option *ngFor="let region_option of regionList" [value]="region_option.id">{{region_option.name}}</option>
      </select>

      <form (ngSubmit)="save()">
        <div class="form-group">
          <label>Название региональной услуги</label>
          <input [(ngModel)]="regionServ.name" type="text" class="form-control" id="name" name="name" placeholder="Введите название региональной услуги"
                 [disabled]="!editEnabled">
        </div>

        <div class="form-group">
          <label>Описание региональной услуги</label>
          <textarea [(ngModel)]="regionServ.description" rows="10" class="form-control" id="description" name="description"
                    placeholder="Введите описание региональной услуги" [disabled]="!editEnabled"></textarea>
        </div>

        <div class="mb-3 block-img">
          <label for="formFile1" class="form-label">Фото сервиса 1</label>
          <div>
            <div class="form-list-two fl-long">
              <input class="form-control imageOne" accept=".jpg" type="file" id="formFile1" (change)="onFileChanged($event)" [disabled]="!editEnabled || regionServ.id == null">
            </div>
            <div class="form-list-two fl-short">
              <a class="btn but btn-danger" (click)="deleteImage(1)" [hidden]="!editEnabled || regionServ.id == null"><i class="far fa-trash-alt"> Удалить </i></a>
            </div>
          </div>
          <div class="img-div">
            <img [src]="imageOneUrl" class="img-cont" [hidden]="imageOneUrl == null">
          </div>
        </div>

        <div class="mb-3 block-img">
          <label for="formFile2" class="form-label">Фото сервиса 2</label>
          <div>
            <div class="form-list-two fl-long">
              <input class="form-control imageTwo" type="file" id="formFile2" (change)="onFileChanged($event)" [disabled]="!editEnabled || regionServ.id == null">
            </div>
            <div class="form-list-two fl-short">
              <a class="btn but btn-danger" (click)="deleteImage(2)" [hidden]="!editEnabled || regionServ.id == null"><i class="far fa-trash-alt"> Удалить </i></a>
            </div>
          </div>
          <div class="img-div">
            <img [src]="imageTwoUrl" class="img-cont" [hidden]="imageTwoUrl == null">
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary save" [disabled]="!editEnabled">Сохранить изменения</button>
        </div>

      </form>
    </div>
  </div>
</div>

