<div>
  <h1>{{title}}</h1>
  <button type="submit" class="btn btn-warning" (click)="enableEdit()" [disabled]="editEnabled">Редактировать данные</button>
  <button type="submit" class="btn btn-danger side-button" (click)="deleteConfirm()" [hidden]="hotelServ.id == null">Удалить отельную услугу</button>
  <div class="row py-2">
    <div class="col-12">

      <label>Страна</label>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required [(ngModel)]="countryId" (ngModelChange)="getRegionsWithDrop()"
              [disabled]="!editEnabled">
        <option selected value=0>Выберите страну...</option>
        <option *ngFor="let country_option of countryList" [value]="country_option.id">{{country_option.name}}</option>
      </select>

      <label>Регион</label>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required [(ngModel)]="regionId" (ngModelChange)="getLocationsWithDrop()"
              [disabled]="countryId == 0 || !editEnabled">
        <option selected value=0>Выберите регион...</option>
        <option *ngFor="let region_option of regionList" [value]="region_option.id">{{region_option.name}}</option>
      </select>

      <label>Локация</label>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required [(ngModel)]="locationId" (ngModelChange)="getHotelsWithDrop()"
              [disabled]="regionId == 0 || !editEnabled ">
        <option selected value=0>Выберите локацию...</option>
        <option *ngFor="let location_option of locationList" [value]="location_option.id">{{location_option.name}}</option>
      </select>

      <label>Отель</label>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required [(ngModel)]="hotelServ.hotelId"
              [disabled]="locationId == 0 || !editEnabled">
        <option selected value=0>Выберите отель...</option>
        <option *ngFor="let hotel_option of hotelList" [value]="hotel_option.id">{{hotel_option.name}}</option>
      </select>

      <form (ngSubmit)="save()">
        <div class="form-group">
          <label>Название отельной услуги</label>
          <input [(ngModel)]="hotelServ.name" type="text" class="form-control" id="name" name="name" placeholder="Введите название отельной услуги"
                 [disabled]="!editEnabled">
        </div>

        <div class="form-group">
          <label>Описание отельной услуги</label>
          <textarea [(ngModel)]="hotelServ.description" rows="10"  class="form-control" id="description" name="description"
                    placeholder="Введите описание отельной услуги" [disabled]="!editEnabled"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!editEnabled">Сохранить изменения</button>

      </form>
    </div>
  </div>
</div>

