<div>
  <div class="tour-images">
    <div class="wrapper">
      <img src="assets/images/newtour.jpg" alt="new tour" class="img-thumbnail" routerLink="/tour/new">
    </div>
    <div class="wrapper">
      <img src="assets/images/findtour.jpg" alt="find tour" class="img-thumbnail" routerLink="/tour_search">
    </div>
  </div>

  <div>
    <div class="wrapper-small">
      <img src="assets/images/airline.jpg" alt="find airline" class="img-thumbnail" routerLink="/search_components/airline">
    </div>
    <div class="wrapper-small">
      <img src="assets/images/airport.jpg" alt="find airport" class="img-thumbnail" routerLink="/search_components/airport">
    </div>
    <div class="wrapper-small">
      <img src="assets/images/country.jpg" alt="find country" class="img-thumbnail" routerLink="/search_components/country">
    </div>
    <div class="wrapper-small">
      <img src="assets/images/region.jpg" alt="find region" class="img-thumbnail" routerLink="/search_components/region">
    </div>
    <div class="wrapper-small">
      <img src="assets/images/location.jpg" alt="find location" class="img-thumbnail" routerLink="/search_components/location">
    </div>
    <div class="wrapper-small">
      <img src="assets/images/hotel.jpg" alt="find hotel" class="img-thumbnail" routerLink="/search_components/hotel">
    </div>
    <div class="wrapper-small">
      <img src="assets/images/region_service.jpg" alt="find region service" class="img-thumbnail" routerLink="/search_components/region_service">
    </div>
    <div class="wrapper-small">
      <img src="assets/images/hotel_service.jpg" alt="find hotel service" class="img-thumbnail" routerLink="/search_components/hotel_service">
    </div>
    <div class="wrapper-small">
      <img src="assets/images/acctype.jpg" alt="find accommodation type" class="img-thumbnail" routerLink="/search_components/accomm_type">
    </div>
    <div class="wrapper-small">
      <img src="assets/images/room.jpg" alt="find room" class="img-thumbnail" routerLink="/search_components/room">
    </div>
  </div>
</div>
